<div class="container">
    <div class="row">
    <h1 class="lead">Editing micropost</h1>

    <%= render 'form' %>
    <%= link_to 'Show', @micropost %> |
    <%= link_to 'Back', microposts_path %>
    </div>
</div>