<div class="container">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-6">
        <h1 class="lead">Re-imagine<h1 class="lead">Your Post!</h1></h1>
      </div>
      <div class="col-xs-4"></div>

    <%= render 'form' %>
    </br>
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
   </div>
</div>