body {
  background-color: lightslategray;
  color: #333;
  font-family: "source code pro", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
tr{
  background-color: lightgoldenrodyellow;
}
.title {
  position: relative;
  left: 500px;
  top: 65px;
}
table {
  position: absolute;
  left: 300px;
  top: 150px;
  background-color: lightslategray;
}
.content {
  width: 500px;
}
.new-micro {
  position: absolute;
  left: 320px;
  top: 155px;
}
.show-edit-back{
  position: relative;
  left: 300px;
  top: 150px;
}
ol, ul, td, th {
  font-family: "consolas", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: solid;
  border-width: 1px;
}
th {
  color: orange;
}
td {
  color: darkslategray;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #fff;
    background-color: #626367;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  position: absolute;
  left: 320px;
  top: 30px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
