body {
  background-color: lightslategray;
  color: #333;
  font-family: "source code pro", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
#content {
  position: relative;
  right: -360px;
  top: 100px;
}
tr{
  background-color: lightgoldenrodyellow;
}
table {
  background-color: lightslategray;
}
ol, ul, td, th {
  font-family: "consolas", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: solid;
  border-width: 1px;
}
th {
  color: orange;
}
td {
  color: darkslategray;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #fff;
    background-color: #626367;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  position: absolute;
  left: 320px;
  top: 30px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#success_explanation {
  width: 450px;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: green;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#navbar {
  position: relative;
  right: 360px;
  top: -100px;
}

#navbar ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  background-color: #000;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #000;
}

#navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}