<footer>

      <div class="col-xs-6">
        <div class="btn-group">
        <%= link_to "Microposter", posts_path, id: "logo", class: "lead" %> <sub> created by: Sean M. Snyder</sub>
        </div>
      </div>

      <div class="col-xs-6 text-right">
          <span class="label label-info"> Go to: </span>
          <span class="label label-warning"><%= link_to "Codeschool", "http://www.codeschool.com" %></span>
          <span class="label label-danger"><%= link_to "Ruby Language", "http://www.ruby-lang.org" %></span>
          <span class="label label-success"><%= link_to "Ruby Rogues", "http://www.rubyrogues.com" %></span>
      </div>

</footer>
