<footer class="container">

      <div class="col-xs-6 text-left">
        <div>
        <%= link_to "Microposter", posts_path, id: "logo", class: "lead" %> <sub> created by: Sean M. Snyder</sub>
        </div>
      </div>

      <div class="col-xs-6 text-right">
          <div>
          <span class="btn label label-warning"><%= link_to "Codeschool", "http://www.codeschool.com", class: "whiten" %></span>
          <span class="btn label label-danger"><%= link_to "Ruby Language", "http://www.ruby-lang.org", class: "whiten" %></span>
          <span class="btn label label-success"><%= link_to "Ruby Rogues", "http://www.rubyrogues.com", class: "whiten" %></span>
          </div>
      </div>

</footer>
