<footer class="navbar">

  <div class="container">
    <nav>
      <div class="btn btn-toolbar pull-left">
        <div class="btn-group">
        <%= link_to "Microposter", posts_path, id: "logo", class: "lead" %> <sub> created by: Sean M. Snyder</sub>
        </div>
      </div>
      <div class="btn btn-toolbar pull-right">
        <div>
          <button>Go to: </button>
          <%= link_to "Codeschool", "http://www.codeschool.com" %> |
          <%= link_to "Ruby Language", "http://www.ruby-lang.org" %> |
          <%= link_to "Ruby Rogues", "http://www.rubyrogues.com" %>
        </div>
      </div>
    </nav>
  </div>
</footer>
